# .github/workflows/prsk-dependabot.yml
name: prsk notice dependabot PR

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  rename-pr:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Rename PR Title with prsk
        uses: ./prsk-dependabot
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
